@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */ 

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: #60606e;
}

p {
    font-family: "Open sans", sans-serif;
    color: #999999;
    line-height: 30px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.section-title {
    position: relative;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #60606e;
    margin-bottom: 20px;
}

.section-title::before {
    content: "";
    background-color: #7beec7;
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 60px;
    height: 20px;
}

.section-text {
    width: 50%;
    margin: 0 auto 100px;
    text-align: center;
}

.button {
    height: 50px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.green {
    background-color: #7beec7;
    color: #fff;
}

.header {
    position: absolute;
    width: 100%;
}

.container {
    width: 60%;
    padding: 0px 15px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    float: left;
    line-height: 100px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0px;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 100px;
}

.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
    background: url(assets/images/background-image.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
}

.slides {
    width: 100%;
    height: 450px;
}

.slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-active {
    display: flex;
}

.slide-small-text {
    padding: 7px 12px;
    color: #60606e;
    background-color: #7beec7;
}

.slide-title {
    padding: 10px 40px;
    margin-bottom: 30px;
    font-size: 48px;
    color: #60606e;
    border: solid 10px #60606e;
}

.slide-text {
    width: 50%;
}

.history-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -420px;
}

.history-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.history-title {
    width: 100%;
    text-align: start;
    margin-bottom: 30px;
}

.history-text {
    width: 100%;
    text-align: start;
    margin: 0;
    color: #60606e;
}

.history-button {
    align-self: flex-end;
    margin-top: 30px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-text {
    line-height: 24px;
    color: #60606e;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.service-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-row:first-child {
    margin-bottom: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.icon {
    font-size: 36px;
}

.service-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.service-list {
    list-style: none;
    text-transform: uppercase;
    line-height: 30px;
    color: #999999;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-text {
    line-height: 24px;
    color: #60606e;
}

.portolio-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.types-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
}

.types-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.types-list {
    list-style: none;
}

.type {
    margin: 20px 0px;
}

.type-button {
    border: none;
    background: transparent;
    text-transform: uppercase;
    margin-left: 20px;
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.type-active {
    margin-left: 0;
    background-color: #7beec7;
    padding: 0 10px;
    color: white;
}

.portfolio-items {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.items-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px;
}

.portfolio-item {
    display: none;
    padding: 15px 0px;
}

.portfolio-active {
    display: flex;
}

