@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */ 

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #60606e;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    position: absolute;
    width: 100%;
}

.container {
    width: 60%;
    padding: 0px 15px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    float: left;
    line-height: 100px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0px;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 100px;
}

.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
    background: url(assets/images/background-image.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-small-text {
    padding: 7px 12px;
    color: #60606e;
    background-color: #7beec7;
}

.slide-title {
    padding: 10px 40px;
    margin-bottom: 30px;
    font-size: 48px;
    color: #60606e;
    border: solid 10px #60606e;
}

.slide-text {
    width: 50%;
}